[2017-06-19 21:18] jvalente opened #17 "remove small button max-width"
https://github.com/Doist/reactist/blob/develop/src/components/styles/button.less#L36v

[2017-10-13 16:02] #17 closed

[2017-12-07 15:38] RadValentin opened #66 "Storybook complains about addon channel, no components displayed"
I'm running into an issue where storybook won't display any of the components in this repo. Instead I get this cryptic message in the console:
[code]

As the docs [suggest](https://storybook.js.org/basics/faq/#why-is-there-no-addons-channel), the fix is to remove `node_modules` and `yarn.lock` and rebuild the lockfile. Clearly there's a problem with the way dependencies get installed. Is this happ

[2017-12-11 07:38] henningmu commented on #66
Hey @RadValentin ,

sorry for coming back to you so late. I just tried to reproduce this with a clean checkout and `npm install` as well as `yarn install` and didn't run in any problems.

Did the removal of node_modules and lock file work you?

[code]

[2017-12-11 11:11] RadValentin commented on #66
@henningmu Yes, removing `node_modules` and rebuilding the lockfile worked. I ran some more tests in the meantime, tested both on `master` and `dev` branches. Here are my findings:

1. Tested on `macOS 10.11.6` and got same problem as in Windows 10
1. `yarn install` on clean repo always makes changes to `yarn.lock` (~16 changes)
1. Deleting old lockfile and rebuilding it fixes the problem for futu

[2017-12-11 12:47] henningmu commented on #66
Still works for me but I think I found the problem. We have a `package-lock.json` (which is kept up to date as I mainly use npm) and a `yarn.lock` which is pretty stale. I think removing the `yarn.lock` from the repo will clean this up for you and potentially others 😊

Thanks for taking the time and reporting this 🎉

[2017-12-11 12:57] RadValentin commented on #66
Sounds good. I can confirm that on `npm install` it storybook works as expected. It sucks that we couldn't figure out what was wrong with yarn but it's probably for the best since it wasn't being used anyway.

@henningmu I'll make the PR if it's ok with you, let me know.

[2017-12-11 12:58] henningmu commented on #66
Sure would love that. Thank you 🙌

[2017-12-11 14:17] #66 closed

[2018-05-08 16:19] jvalente opened #89 ".reactist_overflow won't correctly overflow on FF and Edge"
On version 1.15.3, `.reactist_modal_box` `margin-bottom` doesn't make `.reactist_overflow` scroll on Firefox and Edge because of [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=748518).

https://1drv.ms/u/s!AhCIYlSVX_-fhm97NkSHQWGUlzgB

[2018-05-09 04:46] #89 closed

[2018-05-10 14:47] jvalente opened #91 "Make RangeInput Edge compatible"
https://1drv.ms/u/s!AhCIYlSVX_-fhnEgTHuh8QEneEC7

[2018-06-07 07:46] #91 closed

[2018-10-23 18:39] gnarmedia opened #123 "Desire to help"
I'd like to show what I can do for Doist by helping on this project, is there any way I can help? I also thinking about using this project on a project I'm working on.

[2018-10-24 06:10] henningmu commented on #123
Hi @gnarmedia
first of all thanks a lot for reaching out and expressing your desire to help us out here.
At the moment I'm more or less maintaining this project on my own. I have all open tasks, ideas and bugs in Todoist. During this week / beginning of next week I'll try to bring them into Github with some more details for you (and maybe others) to pick them up 👍

I can't confidently say contribu

[2018-10-24 07:20] gnarmedia commented on #123
Awesome! I fully understand that it might not earn me any brownie points, I also just want to contribute more to open source in general and this seem like a good place to start.

As for my own needs, I was looking to add some validation states for inputs, perhaps notifications, that kinda stuff, maybe some more advanced components.

[2018-10-25 13:25] henningmu opened #125 "Write tests for the Dropdown component"
The name says it all. We need to write some tests to ensure basic functionality and that this functionality is preserved after refactorings.

[2018-10-25 13:25] henningmu opened #126 "Use PositioningUtils in Dropdown"
Instead of calculating the placement ourselves it should be possible to reuse (the already tested) logic from PositioningUtils and / or the Tooltip component.

[2018-10-25 13:26] henningmu opened #127 "Add a max height and scrolling to Modal"
Like the top margin of 60px it should have the same to the bottom and ensure the content (aka the Modal.Body) scrolls correctly.

[2018-10-25 13:26] henningmu opened #128 "Remove moment as (peer) dependency"
I think there are slimmer alternatives with similar APIs. Might be worth looking at (a) native browser implementations or (b) date-fns

[2018-10-25 13:32] henningmu commented on #123
I added some issues that might be a good starting point into the project. Just let me know if you want to work on any of those and: no problem if you don't ;)

I'm a bit hesitant to add new components without a proper spec. Normally, we move components from either [twist](https://twist.com) or [todoist](https://todoist.com) here. So if you see something that you'd like to reuse please feel free to

[2018-10-26 01:59] gnarmedia commented on #123
Awesome! Thanks! I'll check it out in more detail when I am at my computer, but these look like a great starting point.

[2018-10-26 03:55] gnarmedia commented on #128
I'm messing with this, it seems like it shouldn't be too bad to use the native api

[2018-10-26 05:58] henningmu commented on #128
Awesome 🙌 Please note the `config` we pass into the `Time` component. I'd like to keep that and also please include a link to the browser support (caniuse.com) for the APIs you decide on 👍

[2018-10-26 06:56] gnarmedia commented on #128
Sounds good!

[2018-10-27 08:07] gnarmedia commented on #128
So I made a commit to see what you think of my approach: https://github.com/gnarmedia/reactist/commit/6b4849f2075fd9c83ad478392418fce684c21f2a

The Date APIs used are:

getFullYear - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getFullYear
toLocaleString - https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleString a

[2018-10-27 08:32] gnarmedia commented on #128
I'm noticing my changes won't build, it fails looking for date-fns, seems I did something wrong. I'll look into it tomorrow.

[2018-10-29 06:55] henningmu commented on #128
Looks already very good. I have a couple of remarks:
1. Internally we need to support more languages than date-fns currently does. One solution could be to add a `format` function to config paramter which defaults to the date-fns. So other users can use date-fns and we'd supply our own. Also we should throw an Error if neither a function is supplied nor date-fns is found.
2. I think you can move t

[2018-10-30 05:47] gnarmedia commented on #128
Ok, I've removed mockdate, fixed the mocked date, and revised the way I was setting the day of the week to Monday for the test on line 59.

I haven't had a chance to look into formatting for date-fns/moment yet.

[2018-10-30 06:06] gnarmedia commented on #128
As for formatting, what languages which are missing do we need to support? Would support be that hard to add? Is it a bunch? Maybe it's best for the future as even if I did try to contribute the other languages to date-fns (which would help them) I'd still need to work to be sure the translations were correct.

[2018-10-30 16:30] gnarmedia commented on #128
Oh, awesome, I'm glad all are supported! Ok, I'll update date-fns to version 2 tonight!

[2018-11-06 06:49] henningmu commented on #127
Exactly. The problem is when the Modal.Body grows larger (e.g. because it contains a table) or when the height is too small the blackish overlay scrolls. I'd prefer it when the Modal.Body begins scrolling as soon as the full modal exceeds the height of 100%-120px.

![screenshot 2018-11-06 at 07 44 28](https://user-images.githubusercontent.com/6048870/48047366-1e093a80-e198-11e8-9ecf-00651c94cf37.p

[2018-11-16 08:49] kylemh opened #134 "Prettier pre-commit hook"
### ⚙️ Improvement
Leverage [Husky](https://github.com/typicode/husky) and [Precise-Commits](https://github.com/nrwl/precise-commits) with a [pre-commit hook](https://github.com/nrwl/precise-commits#2-precommit-hook) in order to format per commit, ensuring that linting and formatting is constantly maintained while avoiding any git pollution.

### ❓Reasoning
I have Prettier integrated into my edito

[2018-11-16 09:10] kylemh commented on #127
I've been playing around with this quite a bit, and the behavior you seek isn't achieved with constraining just the max-height of `Modal.Body`. I feel like there are a few ways to tackle the issue, but not without asking a few questions:

a) How do you feel about constraining the min & max-height of `Modal.Header` and `Modal.Footer` and giving them auto vertical scroll as well? There's nothing to

[2018-11-16 09:12] henningmu commented on #134
Oh wow I wasn't aware of this. Thanks for bringing it to our attention 👍
Would love if for you take on this issue one question though: Why do we need precise-commits? Couldn't we add a pre-commit hook that formats the whole codebase? As soon as we fixed number 1 it should only be the files you touched anyway, right?

[2018-11-16 11:36] gnarmedia commented on #134
You can add prettier + husky + pre-commit (node package to keep git commit hook code in node)

[2018-11-16 11:36] gnarmedia commented on #134
I do this sometimes, we do it at work and it's great

[2018-11-16 18:56] kylemh commented on #127
Yeah, we can keep closeOnOverlayClick working. We'll just preventDefault on the actual modal, so only clicks on the absolutely positioned full view overlay (where the modal does not exist) will close the overlay.

[2018-11-16 19:22] kylemh commented on #134
I've opened the PR #135

To explain further:
The pre-commit hook only formats _changed_ code. When adding the pre-commit hook, it wont format the whole code base. We'll basically require one manual blast with a `prettier "**/*" --write"` and then the pre-commit hook will keep everything pretty ✨

One exception: When Prettier updates to a version that changes formatting, you'll want to format your

[2018-12-11 04:17] jacobsowles commented on #125
I can take this one.

[2018-12-11 06:52] henningmu commented on #125
Awesome, Jacob. Thanks for the heads up 🙌

[2018-12-13 07:29] #125 closed, assigned to nobody

[2019-01-09 11:52] jvalente opened #149 "Implement Modal using Portals"
The existent Reactist.Modal component is [coupled with the existence of a DOM element #modal_box](https://github.com/Doist/reactist/blob/dev/src/components/Modal.jsx#L208).

It seems like [Portals](https://reactjs.org/docs/portals.html) can be used to implement this component in a more elegant manner.

[2019-03-12 08:28] gnarmedia commented on #149
I can try working on this, portals are pretty straight forward.

[2019-04-25 17:51] #134 closed

[2019-05-21 06:15] henningmu commented on #128
Closed by #158

[2019-05-21 06:15] #128 closed

[2019-05-21 06:15] #123 closed

[2019-05-28 09:14] stkao05 opened #164 "Tooltip Issue and Proposal"
This issue outlines some issues with the current Tooltip component implementation, and also suggest some proposed change.

## Issues

__1. The Tooltip HTML ins't friendly for layout.__

Suppose you have a button which you want to add a tooltip.

[code]

The Tooltip component will wrap the button component with its HTML.

[code]

`button` is no longer a direct child of `button_container`, but rathe

[2019-05-28 13:41] henningmu commented on #164
I fully agree with the outlined problems and proposed solution.
One thing: this should be fixed on the level of the underlying `Popover` component ideally the Tooltip component wouldn't even need to change 👍

[2019-07-18 06:50] stkao05 commented on #164
@henningmu I am considering to re-implement the tooltip with the help of a positioning library https://github.com/FezVrasta/popper.js  It is used quite widely by library such as AtlasKit,  Bootstrap and Material UI.  What do you think?

[2019-07-18 08:32] henningmu commented on #164
@stkao05 I initially tried to solve this without introducing a 3rd party library, however, if you think its needed please go ahead 👍

[2019-07-18 09:30] gnapse commented on #164
May I suggest using https://ui.reach.tech/tooltip instead?

[2019-07-26 08:35] stkao05 commented on #164
Had a brief look at reach's tooltip, but I don't think it will fit our usage as they seem to only support text-only tooltip.

They implement their tooltip via CSS pseudo-element.

[code]

[2019-07-26 15:54] gnapse commented on #164
Fair enough. In that case I hope we at least make our Tooltips accessible. It is not a trivial task, but tooltips are supposed to be shown automatically not just on mouse over, but when the focusable element around which its placed gets the focus. And get somehow to have assistive technologies read the tooltip content.

[2019-08-23 07:10] stkao05 opened #174 "CSS namespace issue"
Current the component css use an extra "reactist" class to serve as namespacing to prevent reactist css from "leaking out"  to library user styling.

[code]

So if the user of the library happens to create a new popover element in a different context, the reactist css won't be applied to the element.

However, the user still cannot implement a separate element with the same classname `popover`, as

[2019-11-19 20:00] gnapse commented on #164
Not sure if that was never the case, or if they fixed it, but [@reach/tooltip](https://reacttraining.com/reach-ui/tooltip/) seems to no longer be limited to text-only tooltips.

I seriously recommend looking into the viability of using those instead of rolling out our own. It's polished in many ways.

[2020-02-13 20:34] Nazeh opened #185 "Broken Knobs in storybook."
### 🐛 Bug (Docs: storybook)

Version 2.0.2

### Issues

- **Minor**: illegal mix of CSF default export and storiesOf calls in a single file.
related: https://github.com/storybookjs/storybook/issues/9196
Solved at: https://github.com/Nazeh/reactist/commit/c2e012ad8adf5aca8de1fc474ee46c84b13f4812 by using `export const Story` instead of `export default Story`

- **Inactive Knobs**: Some of the compo

[2020-02-27 10:48] stkao05 commented on #164
Geat to know that reach-ui tooltip has improved its tooltip implementation. Taking a deeper look, one minor thing I am not sure about is its [fixed timeout value](https://github.com/reach/reach-ui/blob/master/packages/tooltip/src/index.tsx#L67) which control when the tooltip disappeared. It would be great if we can customize it to the experience we desired.

---

Generally speaking, I am preferrin

[2020-02-27 14:02] gnapse commented on #164
I'd rather have a better supported and battle tested component, than an in-house one where we can control its code. We can always raise issues in those component's open source repositories, and even contribute to their code with improvements and bug fixes.

And this is what I'd do with that issue you mention about ReachUI's tooltip. It may be that we can fix that, making it customizable. Or I can

[2020-02-28 09:23] stkao05 commented on #164
Alright, I think we can give it a try, given that it is relatively lightweight.

[2020-02-28 15:16] gnapse commented on #164
That's great. Thanks!

BTW, I now think the timeout is not accidental: immediately showing the tooltip on every hover is not good UX: https://share.getcloudapp.com/L1ugpNrv

And as for customizing it, I'd assume they want to keep the API simple. Is not big deal a few or less milliseconds. Their default seems like a reasonable standard for all cases.

[2020-03-26 14:54] #164 closed

[2020-04-22 15:35] proxi opened #189 "Potential bug in TimeUtils"
In:

https://github.com/Doist/reactist/blob/2b22b066a7038acf306122f63da2b655bba1243d/src/components/utils/TimeUtils.js#L24

it looks like unit parameter `'minutes' | 'hours' | 'days'` is invalid. [TypeScript reports it](https://github.com/Doist/reactist/pull/188) and I checked in dayjs source code that there's no such constant.

I was probably broken by https://github.com/Doist/reactist/pull/158

[2020-04-23 05:50] henningmu commented on #189
Yup, should use `minute`, `hour`, `day` according to docs: https://day.js.org/docs/en/display/difference

[2020-04-23 05:50] henningmu commented on #189
We could probably also drastically simplify this component based on our usage in Twist and bump a major version

[2020-04-28 05:51] #189 closed

[2020-05-05 08:49] proxi opened #192 "Enable TypeScript strict mode"
### ⚙️ Improvement

Now that we have basic type definition, the next step should be enabling strict mode. There are about 30 issues, mostly with proptypes.

[2020-05-22 16:25] proxi opened #198 "PropTypes for Button component do not include 'close'"
### 🐛 Bug

Refer to this issue in Twist for details: https://github.com/Doist/twist-web/issues/1865

[2020-07-10 14:07] gnapse opened #252 "Do we need built assets in git"
### ⚙️ Improvement

I wonder if we need to have checked in git all the files generated from a build. That hasn't been my experience working in other libraries. Though I have to admit I am not knowledgeable at all when it comes to all the build/config parts of the job so I'm not even sure what the implications are in terms of publishing, etc.

[2020-07-13 11:16] henningmu commented on #252
I think it's not needed for publishing as `npm publish` runs the `prepare` scripts which generates the assets. I'm not sure about linking reactist it into Twist / Todoist, but if that works let's go for it 👍

Also @vishnugopal in case I overlooked something

[2020-07-15 15:40] clempat commented on #252
Sorry to jump on the discussion. I don't want to be invasive.

I think the problem you could face by adding any generated files into Github is conflicts hard to resolve. It should not be a problem when it comes to the isolated components files but could be more difficult with file like `dist/reactist.cjs.production.min.js` or `dist/reactist.cjs.development.js`.

If you want to have access to asset

[2020-07-16 16:30] markpalfreeman commented on #185
Hi, I'm a Doist fan and was browsing small issues to contribute to the project.

I pulled this down and can't repro; those components' knobs work just fine—is it still a problem?

[2020-07-17 01:35] gnapse commented on #252
@clempat the discussion I brought up here is precisely towards ceasing to do this, which we already do. Sorry it was not clear from the original issue description, which I can see it is ambiguous and could be interpreted as proposing to do this. It is really proposing to stop doing it.

[2020-07-17 04:35] clempat commented on #252
Oh thanks for the precision @gnapse. I missed it because I was looking to the dist folder which is not there. But now I think I see what you mean.

So my new guess is you speak about the storybook static files (docs folder) which was probably done this way to be served by GitHub pages ?

https://github.blog/2016-08-22-publish-your-project-documentation-with-github-pages/

[2020-07-17 04:57] vishnugopal commented on #252
Linking Reactist into Twist or Todoist also should run prepare so +1 for this! 👏

[2020-07-18 14:03] rimildeyjsr commented on #198
@proxi - Hey! Can I work on this?

[2020-07-18 14:10] gnapse commented on #198
We will be removing the `close` props from buttons really soon, so I am not sure it is worth it.

That being said @rimildeyjsr I wouldn't reject a contribution offer so I'd recommend you to work on removing the `close` prop. It could be something we include in an upcoming major release that will include other breaking changes.

[2020-07-18 14:27] gnapse commented on #174
This was closed/fixed in #184

[2020-07-18 14:27] #174 closed

[2020-07-19 13:10] rimildeyjsr commented on #198
@gnapse - Thank you 😃 Will send a PR when it's ready! Also, it's my first time looking into the codebase, so if I have any questions I will ask them as well!

[2020-07-22 15:48] #198 closed

[2020-07-28 15:18] rimildeyjsr commented on #126
@henningmu - Can I work on this?

[2020-07-28 18:17] gnapse commented on #126
I'd suggest we wait to see where we land with the popover approach. This issue has been around for a while now, and a lot has happened since that may change what we do about it.

Specifically, we just migrated the tooltip to use reakit underneath (#276 to be merged and released soon), and we're in the process of doing the same for the menu (PR in the works, not yet pushed). Both of these component

[2020-07-29 05:04] rimildeyjsr commented on #126
@gnapse - Thanks for the update! 😃

[2020-08-24 06:27] bigint opened #303 "Dropdown content has no padding"
## 🐛 Bug report

### Current behavior

Drop down content has no padding

### Steps to reproduce the bug

1. Go to https://doist.github.io/reactist/?selectedKind=Dropdown&selectedStory=Component%20Overview&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs
2. Click the Trigger Button

![Screenshot](https://user-images.githubusercontent.com/69431456/91010833-dbc91b8

[2020-08-24 06:34] bigint opened #304 "Menu dropdown has weird behavior"
## 🐛 Bug report

### Current behavior

Menu dropdown has weird behavior while scrolling, and it has huge margin top from he trigger button

### Steps to reproduce the bug

https://www.loom.com/share/0d281be0e51d47a3826755b333c1da3c

### Environment

- `@doist/reactist` version: dev
- Browser: Brave `Chrome/84.0.4147.135`

[2020-08-24 13:00] gnapse commented on #303
I'm not sure if this was the intention when this component was created, but this is probably convenient, even if not intentional. You may not always want a padding forced on you over there. This gives more freedom to the user of the component to apply a padding to other elements inside it.

Imagine for instance that You want to show a list inside the dropdown and you show lines between these list

[2020-08-24 16:04] gnapse commented on #304
Hmmm, that's weird. I can't reproduce that.

Also, what that screen recording suggests is not a huge margin, but it's like if the menu dropdown moves along when you scroll.

Still, no luck reproduce it here. Would love to figure out why you get that behavior, under what conditions. Did you run `npm run storybook` locally and get this behavior?

[2020-08-25 12:20] bigint commented on #303
That makes sense @gnapse! You can close this if you want!

[2020-08-25 12:21] bigint commented on #304
Yes I did run `npm run storybook` locally in the `dev` branch!

[2020-08-25 12:47] gnapse commented on #303
I'll leave it open as a reminder to fix that storybook example.

[2020-08-25 13:02] gnapse commented on #304
But do you have more insight on why this happens to you? The more I try this the more I see it does not happen. Can you try in another chromium browsers or maybe an incognito window or something? Or at least confirm for us if it happens for you in general in other browsers or just on Chrome?

[2020-08-25 13:23] bigint commented on #304
@gnapse This is not happening now in both Brave and Chrome browser!

But this looks weird! I don't know how that happens previously!

[2020-08-25 13:38] gnapse commented on #304
Ok, glad to hear that. Indeed weird. But I'll close this for now. Thanks!

[2020-08-25 13:38] #304 closed

[2020-10-21 15:33] craigcarlyle opened #375 "Reduce width of the `Switch` component to 32px"
## 🚀 Feature request

### Motivation

Design has requested that the `Switch` component in both Todoist and Twist be `32px` wide. Let's change it in Reactist instead of manually setting it in both.

[2020-10-21 17:29] gnapse commented on #375
Hmmm, there's no Switch component in Reactist. I think it's one of those components that appeared first in one of the apps, then copied over to the other app instead of being extracted to Reactist. Maybe this issue can be about doing that.

[2020-10-28 15:17] vishnugopal opened #382 "Add an abortable onClose hook to Modal"
###  🚀 Feature request

Implement an optional `onClose: () => boolean` prop for `Modal.Box`. When it returns false, `_closeModal()` will refuse to close the modal.

Also see (Doist internal link): https://github.com/Doist/twist-web/pull/2881#issuecomment-717916976

### Motivation

There are cases when the ESC key (or any closeModal call) needs to be aborted or changed to a different action (like d

[2020-10-28 19:16] gnapse commented on #382
Hmmm, my suggestion was that pressing "Escape" when a dropdown was expanded inside a modal should only dismiss the dropdown and not the modal.

I'm not sure if the solution needs to go down this proposed path. I was thinking more in terms of having the dropdowns detect the "Escape" key themselves, dismiss themselves (hide the dropdown), and then maybe call `event.stopPropagation` will take care of

[2020-10-29 04:15] vishnugopal commented on #382
@gnapse

Oh what I thought [you mentioned here](https://github.com/Doist/twist-web/pull/2881#issuecomment-717260443) was child modals being closed when ESC key being pressed instead of opening up the parent modal.

What you mention above is a different issue right?

[2020-10-29 10:20] gnapse commented on #382
Oh yes, I thought this was about solving [this other issue I mentioned here](https://github.com/Doist/twist-web/pull/2868#issuecomment-717234741). I see this is about something else.

About this issue: not sure if there's anything too special we need to do in the modal about this issue. The solution I think goes through making pressing "Cancel" and typing "Escape" become two equivalent actions. Th

[2020-10-29 11:28] vishnugopal commented on #382
@gnapse I agree, but it does require a change in Modal. Currently the code binds a keyhandler in reactist, and then does this:

[code]

As you can see, there is no opportunity to hook into or customize this, so we need some kind of callback here!

I somehow missed [this feedback of yours](https://github.com/Doist/twist-web/pull/2868#issuecomment-717234741) entirely! 😷 I'll file todos to go through

[2020-10-29 12:19] gnapse commented on #382
I agree that it requires changes in the modal, but I'd say it requires deeper changes. I think the modal we have in Todoist is much better and should be ported to Reactist, because it does not work the same way.

What I'm trying to say is, the hook proposal is suitable for how the modal currently works, but I'd start by questioning why it works that way, and re-architect it a bit if needed. This b

[2020-10-30 03:42] vishnugopal commented on #382
Understood, let me take a look at the modal in Todoist, and get back to you! 🙌

[2020-11-02 17:49] proxi commented on #192
This was already done.

[2020-11-02 17:49] #192 closed

[2020-11-02 18:14] proxi opened #385 "Some thoughts regarding KeyboardShortcut component"
## 🐛 Bug report

### Current behavior

KeyboardShortcut component seems to make multiple assumptions that seem specific to usage in our codebases, to web, to English locale, and more. In particular, it [remaps CMD to CTRL](https://github.com/Doist/reactist/blob/c081d1757c9e5781921913eca4773c215b40ce8a/src/components/KeyboardShortcut.tsx#L66) on platforms other than macOS.

The problem is that this

[2020-11-02 18:25] gnapse commented on #385
about this

The component currently offers a means for callers to provide translations (see `translateKey` and `setTranslateKey` in its source code).

As for the order, and leaving shift first, I did not know that. And I don't think we acknowledge that convention in either Twist or Todoist, even before the introduction of this component. So it was not taken into consideration when designing it. Th

[2020-11-02 18:41] proxi commented on #385
Thank you. I think translation approach makes sense, this should be enough (whether we need to translate something needs more research).

Do you think component should handle this? E.g. we could have ordering callback, similarly to translate callback?

I think this decision was guided by in-the-browser-Web platform. CMD key is 91 code, which is WIN key on Windows (I am unsure about practical usabi

[2020-11-02 19:22] gnapse commented on #385
Translation is different because each app has its own translation infrastructure so the lib cannot assume anything about it. But I'd say that with ordering it's not the same. If we know it is a hard rule that on macOS the shift key has to go first, but in Windows and Linux the opposite is true, then if the lib is able to absorve this complexity, it should. And I think it is perfectly able. It does

[2020-11-02 19:44] proxi commented on #385
1. Well, for one thing "Ctrl + Cmd + X" is a perfectly valid shortcut on macOS.
2. On Windows, "Win + Ctrl + X" is a valid shortcut, too.

I don't see how Cmd has anything to do with Ctrl, I think the only reason for this mapping is that it was lifted from Twist codebase. The fact that Ctrl+F and Cmd+F are distinct on macOS but same (?) on Windows is just confusing IMO. I need to talk to someone o

[2020-11-02 21:32] gnapse commented on #385
Valid points. Indeed, this was not made with windows shortcuts in mind, and was made with some assumptions on our approach to shortcuts, that now with hybrid native-like apps in the horizon may need revisiting.

This component does have a mechanism to express the default platform-specific modifier, and it is via the "mod" key name. It interprets it as Cmd in macOS. We can enhance it so that this s

[2020-11-02 22:04] proxi commented on #385
I don't think this is the way to go. Shortcuts could just as well be dynamic (configurable by the user), could change by browser (to avoid clashes) etc. I think it's much easier to replace shortcuts on client level (e.g. the way we do [here](https://github.com/Doist/twist-web/blob/dev/components/shortcuts/keymap.ts) by replacing the whole keymap or tweaking some of the constants).

[2020-11-03 11:00] proxi commented on #385
Proper ordering of macOS modifier keys is (take from Apple Style Guide https://books.apple.com/us/book/apple-style-guide/id1161855204):

Fn (function), Control, Option, Shift, Command

[2020-11-06 18:38] #375 closed

[2020-12-10 17:33] codedebugrepeat commented on #385
@proxi  I can't find a similar guideline on the order for Windows, but e.g. look at some official shortcuts here:
https://support.microsoft.com/en-us/windows/keyboard-shortcuts-in-windows-dcc61a57-8ff0-cffe-9796-cb9706c75eec

A common pattern is for Shift to come second:
Ctrl + Shift
Alt + Shift

In general, most shortcuts only use modifiers
Windows + Alt
Windows + Shift
Ctrl + Alt
etc.

although

[2021-01-06 13:37] gnapse opened #420 "MenuItem should call the provided `onClick` if present"
## 🐛 Bug report

### Current behavior

Given a `MenuItem` with a `onClick` handler, the `onClick` is not called when the menu item is clicked.

### Steps to reproduce the bug

It was part of the cause of the bug fixed in Doist/twist-web#3049.

### Possible solutions

To check if `props.onClick` is present inside the `handleClick` ([ref](https://github.com/Doist/reactist/blob/6647bda8859a37e30984ae

[2021-01-06 15:50] rfgamaral commented on #420
Does it make sense to only have support for `onClick` and get rid of `onSelect` for consistency's sake with the built-in `<Button>` component?

[2021-01-06 22:17] gnapse opened #421 "Type definitions for components with dynamically typed elements does not work when using the default element type"
Originally discovered by @rfgamaral in https://github.com/Doist/twist-web/pull/3049

## Describe the issue

When using one of the more recently developed components, those with the ability to change the base element type they render with (e.g. `<MenuItem as="a" />`) if we omit the `as` prop, the props type is not inferred correctly.

### How to reproduce

Try adding obviously invalid props to a `M

[2021-01-08 13:46] gnapse commented on #420
Maybe. Though not urgent. Since it is a breaking change, maybe we leave it for when we enhance the menu  components to support being used as context menus. Something that I have plans to do at some point, hopefully in the near future.

[2021-01-21 11:05] #421 closed

[2021-03-09 13:40] frankieyan opened #465 "Storybook should consume bundles being created by tsdx/rollup"
## 🚀 Feature request

Currently, storybook uses webpack to bundle both our components and stories together, while our dist build artifacts are being built with tsdx/rollup. This will be prone to error and may not surface issues quick enough during development. Instead, we should be relying on tsdx to build our source files (through `npm start` during dev), and storybook to import and consume the f

[2021-03-09 19:04] gnapse commented on #465
In [TSDX's "Quick start" section in its documentation](https://tsdx.io/#quick-start) they mention that one of the templates to create a new tsdx repo is `react-with-storybook`. I wonder if creating a new lib with that template will do what you seek here. And if so, I wonder if maybe we did not use that when we re-created Reactist using tsdx. Maybe we can now update out similar to the resulting con

[2021-03-10 08:44] frankieyan commented on #465
Related issue: https://github.com/formium/tsdx/issues/702

[2021-05-18 07:18] nats12 opened #521 "Modal size with 'large' as true is smaller than with 'medium' as true"
## 🐛 Bug report

### Current behavior

Currently, the modal's size when setting `large` to `true` is slightly smaller than when setting `medium` to `true`.

Medium:

![image](https://user-images.githubusercontent.com/15801768/118607980-7eda4a80-b7b9-11eb-8017-6d5cdd038dc4.png)

Large:
![image](https://user-images.githubusercontent.com/15801768/118607998-839efe80-b7b9-11eb-9ef6-23ccda739ec2.png)

#

[2021-08-19 16:26] pauloslund opened #541 "Modal close button is inaccessible"
## 🐛 Bug report

### Current behavior

When using a screen reader, focusing on the close button just say "Unlabelled image" which gives no indication that it is a button, or what the button would do when interacted with.

### Steps to reproduce the bug

- Enable VoiceOver or some similar screen reader
- On http://doist.github.io/reactist/?path=/story/components-modal--modal-header-only-story
- Cli

[2021-08-19 17:17] gnapse commented on #541
Most probably, our modal is largely inaccessible, not only the close button. If there's no other issue about it, I'd say we keep this issue as the one about making our modal accessible. I'm not sure if I'll get to it this month, but both Craig and Frankie may be working in the design system components in future cycles, and this could be planned to be part of those efforts.

We'll probably end up b

[2021-09-01 17:02] gnapse commented on #127
This issue no longer applies as our new modal (being developed in #547) already covers these features being requested here. The new modal will be released later this week to beta.

[2021-09-01 17:02] #127 closed

[2021-09-01 17:03] gnapse commented on #185
Indeed, our storybook was updated recently and we have not been paying attention to keep it up with stale issues like this. I'm closing this now.

[2021-09-01 17:03] #185 closed

[2021-09-01 17:04] gnapse commented on #149
Already covered by our newest modal being implemented in #547, which will land on beta by the end of this week.

[2021-09-01 17:04] #149 closed

[2021-09-01 17:05] gnapse commented on #382
This is no longer relevant after our newest modal is introduced (see #547) which will land on beta later this week.

[2021-09-01 17:05] #382 closed

[2021-09-01 17:06] gnapse commented on #420
This was fixed in #477

[2021-09-01 17:06] #420 closed

[2021-09-01 17:07] gnapse commented on #521
This is no longer a problem under our new modal (see #547) which will land on beta later this week.

[2021-09-01 17:07] #521 closed

[2021-09-20 18:11] craigcarlyle opened #566 "Modal: Close button icon is misaligned"
## 🐛 Bug report

### Current behaviour

The close modal button seems to be misaligned when used in Twist:

![Screen Shot 2021-09-20 at 11 09 39 AM](https://user-images.githubusercontent.com/1305500/134052746-58b66996-1521-4721-898b-7b4a3afd9202.png)

### Expected behaviour

The icon should be aligned

### Possible solutions

Remove the following from `modal.module.css`:

[code]

[2021-09-20 21:16] gnapse commented on #566
Interesting. When seen in the Reactist storybook playground, it looks ok, and removing that style you mention causes it to look wrong. I'll dig into it. I certainly would like to not need that weird style.

[2021-09-21 20:10] #566 closed

[2021-09-21 20:16] craigcarlyle opened #569 "Add italic support to Text"
## 🚀 Feature request

### Motivation

We currently have to rely on an `em` container or CSS to italicize text for the `Text` component:

[code]

### Example

[code]

[2021-09-24 21:06] gnapse commented on #569
Hmmm, I'm not sure we should do this. Here's another alternative:

[code]

which has the advantage that it will render a more semantic `<em>` element, instead of a `span` or `div` that happens to have a `font-style: italic` style applied to it.

If by any chance this does not work today, we can easily adapt the `Text` component styles to make sure that when the element is `em`, it applies this ita

[2021-09-27 17:59] craigcarlyle commented on #569
The `as="em"` solution works for me. @frankieyan if you're also happy with that I'll close this off.

[2021-09-28 17:52] harshitsinghai77 opened #573 "React 17+ support."
Error while installing it for React 17.0.2

[2021-09-29 06:52] henningmu commented on #573
Hi @harshitsinghai77,

thank you for raising the issue. I can see that the `peerDependencies` we declare in the `package.json` are a bit too restrictive:

https://github.com/Doist/reactist/blob/2beb1f7f22364b5e9665f86eaf7a1e0c7ffabd7d/package.json#L45-L46

Meaning that reactist should work fine with React 17+ but we need to update this declaration. Would you be willing to submit a PR for this? 🙌

[2021-09-29 07:33] harshitsinghai77 commented on #573
I guess so. I can look at it during the weekend maybe.

[2021-11-15 12:35] scottlovegrove opened #605 "Avatar: Allow responsive sizes"
## 🚀 Feature request

### Motivation

One of the great things about the new components is the responsive nature, being able to set a value for mobile/desktop/tablet. I realise that Avatar is one of the original components, but I think the `Avatar` component could definitely do with it.

### Example

This is currently what I have where `isMobile` is something from [`react-device-detect`](https://ww

[2021-11-15 12:51] scottlovegrove opened #606 "Tabs: Expose easier way to access current tab id."
## 🚀 Feature request (I think)

### Motivation

Using the new tabs components, I still found myself needing to know what the currently selected tab id was. I know under the hood these components are using the Reakit tabs, and that does offer access to that via the `useTabState` hook, but this isn't available (I don't think) when using the Reactist tabs.

### Example

What I've ended up having to d

[2021-11-15 13:00] gnapse commented on #606
Interesting…

I wonder if you can expand a bit more on why do you have the need to know it outside the tabs UI? Before adding new APIs I'd rather dig deeper on the supposed need for it.

[2021-11-15 13:01] scottlovegrove opened #607 "Tabs: Add `scrollable` option to TabList"
## 🚀 Feature request

### Motivation

I wanted to be able to have my tabs in a line, but scrollable when on mobile and there were enough to go off the screen. I didn't want them to wrap, but `TabList` offers no way of being able to do this.

### Example

In the end, once I discovered that `TabList` wasn't actually required, I was able to to have the following inside my `Tabs` tag
[code]
Video of w

[2021-11-15 13:02] gnapse commented on #605
Indeed. The avatar component predates the newer way we do components. And this is certainly something that makes sense.

Would you be open to make the contribution yourself? Ideally it would involve not merely adding this feature, but refactoring the avatar component to be implemented internally in ways similar to how the new components are, including moving its styles to CSS modules using CSS var

[2021-11-15 13:05] scottlovegrove commented on #606
Sure. So I have the following page in my app
![image](https://user-images.githubusercontent.com/25244878/141786704-ff75902f-6c11-4c4a-a511-3fc9bd0d8a17.png)

The user can be on "Now booking" or "Coming soon", the user can then click the refresh button at the bottom; this is part of the same page, so it would need to know for which tab it's refreshing the data.

[2021-11-15 13:06] scottlovegrove commented on #605
Sure 👍🏻

[2021-11-15 13:14] scottlovegrove opened #608 "TextLink: default CSS variable choice seems off"
## 🐛 Bug report

### Current behavior

When using the `TextLink` component, by default it is using `--reactist-chromatic-content-blue` for its `color` value, the problem with this is to override that to a different colour, you have to then put something like `--reactist-chromatic-content-blue: red` which seems counter intuitive.

I wonder if there should be a better CSS variable for this color tha

[2021-11-15 13:14] gnapse commented on #607
This is the current implementation of `TabList`:

[code]

First, I'm surprised by the fact that the `TabList` wrapper seems to not be needed according to your experience. I would have assumed that it exists in Reakit for some reason. But anyway.

Second, and more importantly, I agree that probably the tab list has to either (A) not have an opinion on how you lay out the tabs (that is, not render t

[2021-11-15 13:36] gnapse commented on #606
I can imagine ways to overcome that situation without changing our API, and I was about to propose some ideas, but I realize that they all make assumptions about how you manage the state in those listings, and it could all make you have to find workarounds. I can understand, for instance, how you could be handling all your data right in the body of the component that renders the entire `Tabs` UI.

[2021-11-15 14:31] scottlovegrove commented on #606
That works for me 👍🏻

[2021-11-16 04:45] frankieyan commented on #607
Not using the tablist "works", but you'll be missing this element:

![image](https://user-images.githubusercontent.com/8531248/141913821-8f0fafd4-3fd4-4372-a139-4482c9b0db7d.png)

I think having the tablist stretched to its parent's full width and allowing for overflow could be a common pattern, although horizontal scrolling always sucks for those without a trackpad or mouse that supports it easil

[2021-11-16 09:43] scottlovegrove opened #609 "TextField: Color always primary, even when disabled/readonly"
## 🐛 Bug report

### Current behavior

When using the `TextField` I have tried being able to change the colour of the text, but appear to be unable to do so. I actually do just need this input to be readonly, but I didn't want pure white text for the text colour, but we don't seem to have a different colour for that, nor do we for disabled (something else I also tried in order to change the colour

[2021-11-16 09:46] scottlovegrove opened #610 "TextField: Why is `label` required?"
## 🐛 Bug report

### Current behavior

On `TextField` and other of our inputs, the `label` field is required, but why? I can put `label=""` and it then gives me a plain input with no additional spacing for the label used. So if I can put an empty string in, why is the field required?

Example:
[code]

which will give me
![image](https://user-images.githubusercontent.com/25244878/141961586-d867771e

[2021-11-16 20:17] gnapse commented on #610
The example screenshot you put above is technically not an input field. It's a block of text meant to be copied, that for some reason from the design POV tends to be depicted as something resembling an input field, or maybe even implemented using an input field in read-only mode.

As for the key issue here: it is good practice that input fields are always labelled. From the accessibility POV all f

[2021-11-17 01:17] gnapse commented on #609
That `color` prop seems to come from the native props supported by an input element. Although I cannot find that attribute in MDN, it is coming from the TypeScript type definitions for `HTMLAttributes` in React types ([ref](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/6ba7fc4b0cd2ec0ae48544c55f1603a2018e7bdd/types/react/index.d.ts#L1872)).

So, this attribute is not there intentionally

[2021-11-19 11:34] codedebugrepeat opened #612 "TextArea: Rows property does not exist"
## 🐛 Bug report

### Current behavior

I get a TypScript error when setting the `rows` property on `<TextArea>`

![image](https://user-images.githubusercontent.com/27236143/142615732-28fb2050-2e46-4ab1-89a0-fbf865b8adde.png)

`Property 'rows' does not exist on type 'IntrinsicAttributes & Omit<BaseFieldProps, "className" | "children"> & Omit<HtmlInputProps<HTMLTextAreaElement>, "className" | "style

[2021-11-22 18:01] #605 closed

[2021-12-05 16:56] scottlovegrove opened #613 "ModalActions: Don't add spacing for null child items"
## 🐛 Bug report

### Current behavior

I'm creating a wizard within a `Modal` component and making use of the `ModalActions` feature, but the buttons being displayed are dynamic in their nature depending on which step of the wizard you are at.

My code for the `ModalActions` looks like this
[code]

At some point, some of these buttons won't be displayed and will instead return `null`, but they sti

[2021-12-19 23:24] qazaqstan2025 opened #616 "[Security] Workflow publish.yml is using vulnerable action actions/checkout"
The workflow publish.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2

[2022-01-05 14:49] #613 closed

[2022-01-07 02:44] pauloslund opened #618 "Box: Using "start" as a value for textAlign doesn't add text alignment"
## 🐛 Bug report

### Current behavior

Using `"start"` as a value for `textAlign` prop doesn't add any text alignment. This means it is impossible to left align content that is nested under a component with a different text alignment.

### Steps to reproduce the bug

You can see a reproduction of this issue in this Sandbox https://codesandbox.io/s/ancient-wave-dr52s?file=/src/App.js:205-266. I

<i

[2022-01-07 03:17] pauloslund commented on #618
Also, if this is a confirmed bug that we want to fix I can create a PR to do so.

[2022-01-07 08:13] henningmu commented on #618
Sounds like a bug to me – any objections here @gnapse?

[2022-01-07 14:28] gnapse commented on #618
Yup, I did not think of the cascade when I did this 😅

I now realize it is better to be explicit all the time.

[2022-01-25 11:17] jvalente opened #621 "Notice: content is not vertically aligned with the AlertIcon"
## 🐛 Bug report

### Current behavior

The Notice component `content` is not vertically aligned with the AlertIcon

### Steps to reproduce the bug

On the reactist playground:

![image](https://user-images.githubusercontent.com/40036/150965824-2c5586d4-5a67-48f6-a541-3eb242cd23c6.png)

On Twist settings:

![image](https://user-images.githubusercontent.com/40036/150965840-4b6ca627-b380-4cb0-a267-c9

[2022-01-26 22:22] gnapse commented on #618
@pauloslund did you end up doing something about this?

[2022-01-31 12:18] #612 closed

[2022-01-31 17:24] pauloslund commented on #618
@gnapse I did! Although I just created the PR for it now

[2022-01-31 17:55] pauloslund opened #632 "[Text] It should be possible to set a line-height for a Text component"
## 🚀 Feature request

It's currently not possible to add a line-height value to a Text component without using `exceptionallySetClassName`. I think it would be help to have a `lineHeight` property added so that consumers can control the leading of their typography.

### Motivation

The motivation comes from needing to add line height to copy rendered within an application.

### Example

This featu

[2022-01-31 18:27] gnapse commented on #632
Thanks for bringing this up @pauloslund. And very apt to bring it up here in Reactist as an issue, even though it feels like a design decision, but I like having the discussion here out in the open rather than internally in Twist (which is what I would've done for a topic like this, but not anymore).

I wonder if the line height could be predetermined, and not something we could customize. Maybe i

[2022-02-01 12:47] gnapse commented on #621
I cannot reproduce in Twist in production right now. Alignment seems ok to me:

<img width="432" alt="image" src="https://user-images.githubusercontent.com/15199/151970689-18ed209a-97fc-4ab3-842e-c5022f6d0200.png">

<img width="527" alt="image" src="https://user-images.githubusercontent.com/15199/151970707-4adaf67f-dd85-4487-adca-ec9ca41f4ed9.png">

@jvalente can you give more details about how ca

[2022-02-01 13:11] jvalente commented on #621
Hello @gnapse, I am able to reproduce this issue on Windows 10, non-retina display. Both Chrome and Firefox.

[2022-02-01 15:06] gnapse commented on #621
It does not look the same as the original report. In the original report, the screenshot you posted shows the text aligned to the top. These new ones are aligned towards the bottom. I'm still curious about that one, since it was what you initially experienced. I wonder how it's the opposite now.

Anyway, I can reproduce on Windows. I suspect that this is due to a different font being used across t

[2022-02-02 19:56] tsamoudakis commented on #632
@gnapse after discussing this with the design team, we think that we should start using the text styles we have defined in our [Global Library in Figma](https://www.figma.com/file/xo9yAsH8PQUpi0eTJh9pmR/Product---Global?node-id=2527%3A3732). All the styles in the list contain line height values as well and for the most part the "San Francisco" style should work just fine.

However, currently Twist

[2022-02-02 23:10] gnapse commented on #632
Unfortunately, setting this up behind a feature flag will be tricky.

I can offer this: I could set up a special build of Twist on staging with a version of Reactist in place that would feature the change (that is, with the text elements using the line heights as specified in that Figma library you linked to). That way you folks can use Twist staging during a few days to validate that everything l

[2022-02-03 04:30] #618 closed

[2022-02-03 04:58] pauloslund commented on #632
@gnapse Given we're using Reactist in Todoist now as well, we would also need to setup a Todoist staging environment right?

An idea I had is maybe we could use a feature flag to change the CSS custom properties. For example if we had this code in Reactist:
[code]

We could change the top level value of `--reactist-line-height-caption` using JS. If the feature flag is disabled we could set it to `

[2022-02-03 12:56] tsamoudakis commented on #632
@gnapse testing everything on a staging environment could work too. 👍

[2022-02-03 17:09] gnapse commented on #632
Paul, that's all super clear. And yes, TD could be affected too, good point.

Anyway, about the approach you suggest, that could work. I was hoping to avoid introducing more feature flags and involving to have to do TD or TW releases. I'm still inclined to validate things on staging first.

[2022-02-08 21:32] gnapse commented on #621
@henningmu [you brought my attention to this issue](https://twist.com/a/1585/ch/190200/t/2820202/c/73362455), saying this:

Did you have a solution at all? What did you mean with "introducing custom CSS"?

[2022-02-11 12:37] henningmu commented on #621
If I remember correctly it was a line-height problem and setting it to the height of the container fixed it. But my memories are not very clear – with that being said, I can't even see the issue anymore 👀

[2022-02-11 13:17] gnapse commented on #621
From the discussion above, the issue only happens in Windows. At least in my experience. Not sure how you ever saw it if you only tried on macOS. I may need more time to dig in and see how this can be solved for Windows without breaking it on macOS.

[2022-02-21 20:37] tsamoudakis commented on #632
Hey @gnapse, I believe in your Doistalk last week you mentioned that there are a few obstacles in implementing the typography values we have on Figma to the actual product. So I wanted to reach out and ask **a)** what's the status of this and **b)** whether there is something we (designers) could do to assist in this transition. Aligning the Web app with our Figma libraries will bring many benefit

[2022-02-21 23:23] gnapse commented on #632
@tsamoudakis thanks for the follow-up. I do not recall having expressed any concerns about the feasibility to go forward with any typography styles in the short term. Maybe I was misunderstood, but on this particular topic I see little hurdles ahead, or none at all. It's just a matter of making the time.

Right now, in this particular issue, the ball is in our court. We'll ping you when we have th

[2022-03-23 18:24] gnapse opened #641 "NavigationElement"
## 🚀 Feature request

There's a common pattern in a few places of our products: a list element that acts as a link, but also has some optional information and/or contextual action buttons on its right side. A few examples:

- List elements in Twist's list of threads or list of conversations (chat rooms):
    <img width="735" alt="image" src="https://user-images.githubusercontent.com/15199/15976174

[2022-03-24 07:47] henningmu commented on #641
Option 2 sounds good and looks inline with our other components (modal, tabs, etc.), but, as you mentioned, I'd leave this to the one implementing this component.

---

Do you think the `NavigationElement` could become a bit of catch-all component with tons of nuanced use cases? For example, would a `TaskListItem` in Todoist use the `NavigationElement` as well? Or should we restrict the use cases

[2022-03-24 12:42] gnapse commented on #641
Indeed, something to consider. I also acknowledge that trying to achieve too much with it could make it cumbersome. At the very least, I think that threre's definitely potential to make one that would power all the sidebar navigation items. Whether we can expand it to twist-like thread link elements (with a different left-side icon area, and a different border when focused), it may prove to be too

[2022-03-31 10:01] proxi opened #645 "Compatibility with React 17.x"
## 🐛 Bug report

### Current behavior

`package.json` lists `react` with `|| ^17.0.0`, but at the same time requires `"reakit": "1.3.0"`, which requires `react ^16.8.0`, [ref.](https://github.com/ariakit/ariakit/blob/57b1238e714bb4dda3984d62268313c180fcc6a8/packages/reakit/package.json#L49), making it impossible to resolve dependencies.

### Steps to reproduce the bug

If possible, provide a repo

[2022-04-15 07:41] henningmu opened #650 "Add support for React 18"
Theoretically, it should suffice to `|| ^18.0.0` to our `peerDependencies` of `react` and `react-dom`. While at it, please look into (and ideally resolve) https://github.com/Doist/reactist/issues/645

- [x] https://github.com/Doist/reactist/issues/645
- [ ] https://github.com/Doist/reactist/issues/679
- [ ] https://github.com/Doist/reactist/issues/676
- [ ] https://github.com/Doist/reactist/issues

[2022-05-10 01:55] gnapse opened #654 "Provide the ability to have a button in the Button's endIcon"
## 🚀 Feature request

### Motivation

We have the need, from some designs in Todoist's new task details view, to give the impression that there's a button inside another button. Specifically, to have an icon-button in the context of where the `endIcon` of a `Button` would appear:

### Example

https://user-images.githubusercontent.com/15199/167526279-c52510bc-2e23-4a02-8ab3-87af5ba1266a.mp4

### P

[2022-07-21 11:29] frankieyan commented on #654
Twist ref: https://twist.com/a/1585/ch/496323/t/3559728/c/77579577

[2022-07-21 11:49] frankieyan commented on #606
@scottlovegrove FYI, you can now use the tabs as a controlled component using the `selectedId` and `onSelectedIdChange` props. This was introduced with https://github.com/Doist/reactist/pull/662

[2022-07-21 11:49] #606 closed

[2022-07-26 14:07] gnapse opened #675 "Improve tooling of reactist"
[Wishlist for Reactist tooling/setup improvements](https://twist.com/a/1585/ch/190200/t/2996915/)

- [ ] Put thread into spec template / issue so it can be worked on, then move into "Ready to be worked on"

[2022-08-09 07:13] frankieyan opened #676 "Remove Enzyme"
Enzyme is dead at this point and a v18 adapter has no hope of being developed. See[ an article written by the author of v17's adapter here](https://dev.to/wojtekmaj/enzyme-is-dead-now-what-ekl).

There are 12 components with tests written in Enzyme - with some components being so old that we might even be able to remove if they're unused in Todoist and Twist. We should deprecate/remove components

[2022-08-09 07:25] frankieyan opened #677 "Replace @storybook/addon-knobs with addon-controls in Reactist"

[2022-08-09 07:25] frankieyan opened #678 "Update storybook-addon-badges to React 18 compatible version"
We're on an older version ([0.0.4](https://github.com/geometricpanda/geometricpanda/releases/tag/0.0.4)) of storybook-addon-badges, but even the newest version [pulls in an older version of @storybook/theming at 6.2.9](https://github.com/geometricpanda/geometricpanda/blob/v0.2.1/package.json#L33), which lists `@emotion/core` (Emotion 10) as its dependency and isn't React 18 compatible.

Newer vers

[2022-08-09 07:26] frankieyan opened #679 "Help update @reach/dialog to be compatible with React 18, or migrate to another compatible backing component"
We rely on Reach-UI's [Dialog](https://github.com/reach/reach-ui/tree/v0.17.0/packages/dialog) component to power our [Modal](https://github.com/Doist/reactist/tree/v12.1.1/src/new-components/modal).

In Todoist, there are 11 modals built using the Reactist Modal, and 27 in Twist. Todoist also pulls in @reach/dialog directly and uses it to implement another 27 modals, bringing the total to 38.

Th

[2022-08-09 11:39] frankieyan commented on #645
Closed via https://github.com/Doist/reactist/pull/662

[2022-08-09 11:39] #645 closed

[2022-08-12 16:53] frankieyan commented on #676
After https://github.com/Doist/reactist/pull/672 and https://github.com/Doist/reactist/pull/680, there will only be 9 test suites left with Enzyme.

[2022-08-15 15:38] frankieyan opened #682 "Deprecate `ColorPicker` and move away from using `DeprecatedDropdown`"
## 🚀 Feature request

Reported in https://github.com/Doist/reactist/pull/680#discussion_r945869248

The `ColorPicker` is built using the now-deprecated `Dropdown` component (see https://github.com/Doist/reactist/pull/680). To be able to remove the component, it needs to be re-implemented using the `Menu` component, or another equivalent.

This is currently used for the channel colour picker in Twi

[2022-08-19 06:02] #676 closed

[2022-08-19 10:24] HenryKenya commented on #677
Will this involve re-writing the stories using args? Sounds interesting and I'd like to give it a shot @frankieyan

[2022-08-19 10:51] frankieyan commented on #677
Hi @HenryKenya - yes `args` and `argTypes` can both be used. The latter is to give more control into what kind of UI we want to show in order to change the props: https://storybook.js.org/docs/react/essentials/controls#choosing-the-control-type

The two stories are:
https://github.com/Doist/reactist/blob/v14.0.0/stories/components/Avatar.stories.tsx
https://github.com/Doist/reactist/blob/v14.0.0/s

[2022-08-23 03:35] frankieyan opened #688 "Ariakit, used as a prod dependency, should have its version pinned instead of allowing a range"
## 🐛 Bug report

### Current behavior

Discovered in @scottlovegrove's personal project, when Reactist is installed as a dependency, newer versions of Ariakit with breaking changes can end up being installed. This is because Ariakit uses prerelease tags, and the caret semver range does not prevent upgrades between them: [ref](https://docs.npmjs.com/cli/v6/using-npm/semver#caret-ranges-123-025-004)

[2022-08-24 05:39] #678 closed

[2022-08-24 18:22] pauloslund opened #691 "[Box] Add `gap` as a property of the Box component"
## 🚀 Feature request

### Motivation

The `Box` component already supports setting various flexbox properties, so it would be beneficial to also be able to provide a `gap` value using the spacing system. [All modern browsers include support for it](https://caniuse.com/flexbox-gap). We could also potentially use this feature in the future to rewrite the Stack and Inline components to use `gap` inst

[2022-08-25 08:56] #688 closed

[2022-08-25 13:12] gnapse commented on #691
This will be great, and it will significantly simplify how we write the styles for box, stack, inline and column components.

The thing that "worries" me is that gap is still unsupported in browsers that, although "old", some people may still be using. One may think that you can always tell them to upgrade, but there are people stuck in old macOS versions that have a cap in the version of Safari t

[2022-08-25 16:40] pauloslund commented on #691
I don't think this prevents us from introducing `gap` to the Box component, but it may limit how widely we roll out the use of it for the time being. The [official stance](https://todoist.com/help/articles/system-requirements-for-todoist) for Todoist is that it only supports the latest browsers, so _technically_ it's fine. But I agree that it's not super user friendly, and should probably be handl

[2022-08-26 02:56] gnapse commented on #691
I opened [an internal discussion](https://twist.com/a/1585/ch/190200/t/3719147/) to involve others in Doist to make a decision.

[2022-08-30 11:15] #679 closed

[2022-09-02 14:43] frankieyan opened #698 "React-focus-lock should be a peer dependency"
## 🐛 Bug report

### Current behavior

It's possible for a consuming app to also have [React Focus Lock](https://github.com/theKashey/react-focus-lock) installed, and if the version used in Reactist can't be deduped by npm/yarn, multiple versions can end up being bundled into the app, resulting in the two fighting for focus: https://github.com/theKashey/react-focus-lock#warning

Instead, declare i

[2022-09-13 17:52] nats12 opened #701 "Reactist <> Product Library Header Alignment"
## ⁉️ Why
The `Header` component in Reactist is outdated compared to the ones in our product library. Once aligning we also don't need the `smallest`, `larger`, `largest` props ([ref](https://doist.github.io/reactist/?path=/docs/design-system-heading--heading-story)).

 ## 🗺 Overview
Align Reactist with the header styles in our [Global product library](https://www.figma.com/file/xo9yAsH8PQUpi0eTJh

[2022-09-14 09:42] henningmu opened #702 "Deprecate Notice in favor of Alert"
@gnapse I'm unclear on the difference between our `Notice` component and the `Alert` component. Shouldn't one be enough? Checking the Product Library Figma, there is also only the Alert and no concept of a Notice 🤔

[2022-09-14 10:23] gnapse commented on #702
This may be an issue about lack of documentation. The lack of a Figma design is a form of lack of documentation, but I'm referring to a lack of documentation in the code itself, in the storybook examples, for instance.

There are uses of `<Notice />` in both products, and that's the ultimate "source of truth". It has new uses added as recently as when we worked on Todoist's 2FA. So ultimately, thi

[2022-09-14 11:28] henningmu commented on #702
@gnapse this issue was motivated by work on this (internal) issue: https://github.com/Doist/Issues/issues/7617 – the new alert designs are more lightweight, making me question the usefulness of Notice even more 👍

[2022-09-14 22:12] gnapse commented on #702
Indeed, if the design team decides that we can replace all our uses of the standalone instances of `<Notice />` with these new lighter alerts, then I'm ok with it. cc @Doist/design-product-hero

To be clear, it would not affect the notice-like messages embedded as part of the field component, but it would mean that we will no longer be able to render these borderless and background-less alerts (th

[2022-10-20 10:00] anaf commented on #702
I think that could work.
But before confirming it, do we have an easy way to find all the instances ```Notice```, just so I can make sure?